<!DOCTYPE html>
<html>
<html lang="en" ng-app="pickominoGame" class='container-game'>
  <title>Rails Angular PG App</title> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>  
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:user_id] %>
		<div ng-controller="LoginController as loginCtrl" ng-init="loginCtrl.setUser(<%=session[:user_id] %>, '<%=session[:firstname]%>')"></div>
	<% end %>
	
	<div>
		<game-header></game-header>
	
		<game-body></game-body>
	
		<common-footer></common-footer>
	</div>
	
	<script>
		$(function() {
			$('.nav-tabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>		
	<a href="https://github.com/metakata/Rails_Pickomino"><img style="position: absolute; top: 50px; left: 0; border: 0; height: 90px;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
</body>
</html>

